<center>
	<%= image_tag "wu_logo_new.png", :id => "logo" %>
	<p>(Website is soon to come. Thank you for your patience.)</p>
	<p><%= image_tag "donate_button.png" %></p>
	<hr />
	
	<p><a href="http://twitter.com/worlduniting/"><%= image_tag "twitter_icon.gif" %></a></p>
	<h1>Latest News</h1>
	<p><em>July 4th, 2011</em> - World Uniting registered with the WA
			Secretary of State <em><-- very apropos date, no?</em></p>
	<p><%= mail_to "info@worlduniting.org", "Contact Us", :encode => "javascript" %></p>
</center>