<center>
	<%= image_tag "wu_logo_new.png", :id => "logo" %>
	<p>(Website is soon to come. Thank you for your patience.)</p>
	<p>
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="NKZ3CUPU3FJUN">
		<input type="image" src="http://worlduniting.org/assets/donate_button.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		</form>
	</p>
	<hr />
	
	<p><a href="http://twitter.com/worlduniting/"><%= image_tag "twitter_icon.gif" %></a></p>
	<h1>Latest News</h1>
	<p><em>July 4th, 2011</em> - World Uniting registered with the WA
			Secretary of State <em><-- very apropos date, no?</em></p>
	<p><%= mail_to "info@worlduniting.org", "Contact Us", :encode => "javascript" %></p>
</center>