<html>
<head>
<title>World Uniting: Representing Minority Voices within the Majority Group</title>
<style>

body {background-color: #fff; margin: 0;}
.logo {margin: 200px auto 0 auto;}
</style>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24287584-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
	<center>
		<% image_tag "wu_logo.png", :class => "logo" %>
	</center>

</body>
</html>