body {
  background-color: white;
	margin: 0;
	font-size: .9em;
	font-family: Verdana, sans-serif
}
hr {
	width: 400px
}
a {
	color: #6b1c8a
}
em {
	color: #333333
}
h1 {
	color: #333333;
	font-size: 1.2em
}