<!DOCTYPE html>
<html>
<head>
  <title>World Uniting - for the rest of the family.</title>
	<meta name="description" content="Providing non-profit outreach and education within majority people groups on behalf of underrepresented persons for religiously and socially conflicting issues. World Uniting’s uniqueness is its approach, bringing conversation to majority opinions by speaking within their framework and point of view, in order to provide empathy, awareness, and repositioning of majority policies that alienate minority persons." />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-24287584-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>

<%= yield %>

</body>
</html>
